@model Apteka_Hipokrat.Models.Shopping

@{
    ViewData["Title"] = "Details";
}

<h1 style="color:white;">Детайли на поръчките</h1>

<div>
    <hr />
    <dl class="row" style="color:white;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicines.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterON)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterON)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
