@model Apteka_Hipokrat.Models.Medicine

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color:white">Изтриване на лекарството</h1>

<h3 style="color:white;">Сигурни ли сте че искате да изтриете това?</h3>
<div>
    <hr /> 
    <dl class="row" style="color:white;">
        <dt class = "col-sm-2"> 
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatalogNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Composition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Composition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SideEffects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SideEffects.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicineTypes.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterON)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterON)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producers.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" style="margin:10px;"/> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
