@model IEnumerable<Apteka_Hipokrat.Models.SideEffect>

@{
    ViewData["Title"] = "Index";
}
<h1 style="color:white;">Странични Ефекти</h1> 

<div class=col-6>
    <a asp-controller="SideEffects" asp-action="Create" class="btn btn-primary">Create New SideEffect</a> 
</div>

<table class="table" style="color:white;"> 
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterON)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterON)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
